* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  background-color: whitesmoke;
  font-family: Silkscreen, "Lucida Console";
}

.sketchPad {
  width: 525px;
  height: 525px;
  display: grid;
  box-shadow: 0px 3px 10px gray;
}

.flex-container,
.content,
.controls,
.resolution,
.buttons {
  display: flex;
  flex-direction: column;
}

button,
#gridSlider {
  cursor: pointer;
}

.title {
  margin: 0 auto 15px;
  font-size: 20px;
}

footer {
  margin: 10px auto;
  font-size: 12px;
}

.content {
  align-items: center;
  gap: 15px;
}

.cell {
  border-top: 1px solid dimgray;
  border-left: 1px solid dimgray;
  background-color: white;
}

.sketchPad {
  border-top: 1px solid dimgray;
  border-left: 1px solid dimgray;
  border-bottom: 2px solid dimgray;
  border-right: 2px solid dimgray;
}

.grid-Off {
  border: 2px solid dimgray;
  background-color: white;
}

.buttons {
  flex-direction: row;
  gap: 10px;
}

button {
  width: 100px;
  height: 30px;
  font-family: Silkscreen, "Lucida Console";
  font-weight: bold;
  font-size: 12px;
}

.controls {
  gap: 15px;
  width: 525px;
}

.resolution {
  width: 300px;
  margin: auto;
  text-align: center;
  font-weight: bold;
}
