* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
}

.sketchPad {
    width: 400px;
    height: 400px;
    display: grid;
}

footer,
.flex-container,
.content,
.controls,
.resolution,
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content {
    flex-direction: row;
}


