#container {
    display: flex;
    width: 325px;
    height: 325px;
    border: 1px solid red;
    border-radius: 15px;
    background: red;
    justify-content: center;
    align-items: center;
}

.cell {
    min-width: 15px;
    min-height: 15px;
    background-color: lightgrey;
    border: 1px solid black;
}

